{% load static %}
<script src="{% static 'auth/assets/vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'auth/printThis.js' %}"></script>
<script src="{% static 'auth/custom.js' %}"></script>
<script src="{% static 'auth/assets/vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'auth/assets/vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'auth/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'auth/assets/vendor/js/menu.js' %}"></script>
<!-- endbuild -->
<!-- Vendors JS -->
<script src="{% static 'auth/assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'auth/assets/js/main.js' %}"></script>
<!-- Page JS -->
<script src="{% static 'auth/assets/js/dashboards-analytics.js' %}"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js' %}"></script>


<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });

        $("#remove").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });

    }, 10000);
</script>