{% load static %}
<!-- Navbar -->
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
      <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
        <i class="bx bx-menu bx-sm"></i>
      </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
      <!-- Search -->
      <div class="navbar-nav align-items-center">
        <div class="nav-item d-flex align-items-center">

            {% if request.user.is_hospital or request.user.is_hospital_admin %}

            <i class="bx bx-search fs-4 lh-0"></i>
            <form action="{% url 'reg:search' %}" method="get" id="search">
              <input type="search" class="form-control border-0 shadow-none" placeholder="Search Certificate" aria-label="Search..." name="qs" value="{{query}}" />
          </form>
          <script>
              document.getElementById("qs").addEventListener("keydown", (e) => {
                  if(e.key == "Enter"){
                      e.preventDefault();
                      document.getElementById('search').submit();
                  }
              })
          </script>
            {% endif %}

        </div>
      </div>
      <!-- /Search -->

      <ul class="navbar-nav flex-row align-items-center ms-auto">
        <li class="nav-item navbar-dropdown dropdown-user dropdown">
          <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
            <div class="avatar avatar-online">

                <img src="{{ request.user.pic.url }}" alt class="w-px-40 h-auto rounded-circle" />

            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item">
                <div class="d-flex">
                  <div class="flex-shrink-0 me-3">
                    <div class="avatar avatar-online">
                      <img src="{{ request.user.pic.url }}" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <span class="fw-semibold d-block">{{request.user}}</span>
                    <small class="text-muted">
                        {% if request.user.is_hospital %}
                            Hospital
                        {% elif request.user.is_hospital_admin %}
                            Hospital Admin
                        {% else %}
                            User
                        {% endif %}
                    </small>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'reg:account_profile' request.user.user_id %}">
                <i class="bx bx-user me-2"></i>
                <span class="align-middle">My Profile</span>
              </a>
            </li>

            {% if request.user.is_hospital %}
            <li>
              <a class="dropdown-item" href="{% url 'reg:hospital_profile' request.user.user_id %}">
                <i class="bx bx-building-house me-2"></i>
                <span class="align-middle">Hospital Profile</span>
              </a>
            </li>
            {% endif %}

            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <a class="dropdown-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#basicModal">
                <i class="bx bx-power-off me-2"></i>
                <span class="align-middle">Log Out</span>
              </a>
            </li>
          </ul>
        </li>
        <!--/ User -->
      </ul>
    </div>
  </nav>
  {% include "partials/modal_logout.html" %}

  <!-- / Navbar -->