 {% load static %}
 <!-- Menu -->
 <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="{% url 'basic:home' %}" class="app-brand-link">
        <span class="app-brand-logo demo">
            <img src="{% static 'img/logo.png' %}" width="80%" alt="">
        </span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item active">
        <a href="{% url 'auth:dashboard' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>
    {% if request.user.is_hospital or request.user.is_hospital_admin %}

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Birth Registration</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-dock-top"></i>
        <div data-i18n="Account Settings">Registrations</div>
      </a>
      <ul class="menu-sub">

        <li class="menu-item">
          <a href="{% url 'reg:birth_reg' %}" class="menu-link">
            <div data-i18n="Account">Birth Registration</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'reg:manage_birth_reg' %}" class="menu-link">
            <div data-i18n="Notifications">Manage Birth Reg.</div>
          </a>
        </li>

        <li class="menu-item">
          <a href="{% url 'reg:death_reg' %}" class="menu-link">
            <div data-i18n="Account">Death Registration</div>
          </a>
        </li>

        <li class="menu-item">
          <a href="{% url 'reg:manage_death_reg' %}" class="menu-link">
            <div data-i18n="Notifications">Manage Death Reg.</div>
          </a>
        </li>

      </ul>
    </li>
    {% else %}
    <li class="menu-item">
        <a href="{% url 'reg:certificate' request.user.user_id %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-certification"></i>
            <div data-i18n="Documentation">View Certificate</div>
        </a>
    </li>
    {% endif %}

    {% if request.user.is_hospital %}
    <!-- Components -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Administrators</span></li>
      <!-- User interface -->
    <li class="menu-item">
    <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
        <div data-i18n="User interface">Accounts</div>
    </a>
    <ul class="menu-sub">
        <li class="menu-item">
        <a href="{% url 'reg:admin_reg' %}" class="menu-link">
            <div data-i18n="Accordion">Create Account</div>
        </a>
        </li>
        <li class="menu-item">
        <a href="{% url 'reg:manage_admin' %}" class="menu-link">
            <div data-i18n="Alerts">Manage Accounts</div>
        </a>
        </li>
    </ul>
    </li>
    {% endif %}

    <!-- Misc -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Settings</span></li>
    {% if request.user.is_hospital %}
    <li class="menu-item">
    <a href="{% url 'reg:hospital_profile' request.user.user_id %}" class="menu-link"> <i class="menu-icon tf-icons bx bx-building-house"></i> <div data-i18n="Support">Hospital Profile</div></a>
    </li>
    {% endif %}

    <li class="menu-item">
        <a href="{% url 'reg:account_profile' request.user.user_id %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-circle"></i>
            <div data-i18n="Documentation">Account Profile</div>
        </a>
    </li>

    <li class="menu-item">
        <a style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#basicModal" target="_blank" class="menu-link">
            <i class="menu-icon tf-icons bx bx-log-out-circle"></i>
            <div data-i18n="Documentation">Logout</div>
        </a>
    </li>
    </ul>
</aside>
<!-- / Menu -->