<!DOCTYPE html>
<html lang="en">
	<head>
		<title>NIN | {% block title %} {% endblock %}</title>
    	{% block head %} {% endblock %}
	</head>
	<body>
		{% block body %}
			{% block nav %} {% endblock %}
			{% block footer %} {% endblock %}
			{% block script %} {% endblock %}
		{% endblock %}
	</body>
</html>

{% comment %}   lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free" {% endcomment %}