{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock title %}
{% block head %}{% include 'partials/auth_head.html' %}{% endblock head %}

{% block body %}
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        {% include 'partials/sidebar.html' %}
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
	        {% block nav %} {% include 'partials/auth_nav.html' %} {% endblock %}
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              {% include 'partials/messages.html' %}

              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'auth:dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a>Account Profile</a></li>
              </ol>

              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'reg:account_profile' request.user.user_id %}"><i class="bx bx-user me-1"></i> Account Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="{% url 'reg:change_password' request.user.user_id %}"><i class="bx bx-cog me-1"></i> Change Password</a>
                    </li>
                  </ul>

                  <div class="card mb-4">
                    <h5 class="card-header">Change Account Password</h5>
                    <!-- Account -->
                    <div class="card-body">
                      <form id="formAccountSettings" method="POST">
                        {% csrf_token %}
                        <div class="row">
                          <div class="mb-3 col-md-12">
                            <label for="firstName" class="form-label">Current Password <span class="asteriskField">*</span> </label>
                            {{ form.old_pass}}
                            {% if form.old_pass.errors %}
                              <div class="alert alert-danger mt-2" role="alert">
                                {{ form.old_pass.errors }}
                              </div>
                            {% endif %}
                          </div>

                          <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label">New Password <span class="asteriskField">*</span> </label>
                            {{ form.new_pass}}
                            {% if form.new_pass.errors %}
                              <div class="alert alert-danger mt-2" role="alert">
                                {{ form.new_pass.errors }}
                              </div>
                            {% endif %}
                          </div>

                          <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label">Confirm New Password <span class="asteriskField">*</span> </label>
                            {{ form.confirm_pass }}
                            {% if form.confirm_pass.errors %}
                              <div class="alert alert-danger mt-2" role="alert">
                                {{ form.confirm_pass.errors }}
                              </div>
                            {% endif %}
                          </div>

                        </div>
                        <div class="mt-2">
                          <button type="submit" class="btn btn-primary me-2">Save changes</button>
                        </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>

                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
              {% include 'partials/auth_footer.html' %}
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->

{% include 'partials/auth_script.html' %}

{% endblock body %}
