{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Death Registration{% endblock title %}
{% block head %}{% include 'partials/auth_head.html' %}{% endblock head %}

{% block body %}
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        {% include 'partials/sidebar.html' %}
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
	        {% block nav %} {% include 'partials/auth_nav.html' %} {% endblock %}

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">

              {% include 'partials/messages.html' %}

              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'auth:dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="{% url 'reg:death_reg' %}">Death Registration</a></li>
              </ol>

              <!-- Basic Layout & Basic with Icons -->
              <div class="row">
                <!-- Basic with Icons -->
                <div class="col-md-4">
                  <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                      <h5 class="mb-0">Fetch Record</h5>
                      <small class="text-muted float-end">fetch</small>
                    </div>

                    <div class="card-body">
                      <form method="POST">
                        {% csrf_token %}
                        <div class="row mb-3">
                          <label class="col-sm-3 col-form-label" for="basic-icon-default-fullname">NIN <span class="asteriskField">*</span></label>
                          <div class="col-sm-9">
                            <div class="input-group input-group-merge">
                              <span id="basic-icon-default-fullname2" class="input-group-text"
                                ><i class="bx bx-user"></i
                              ></span>
                              <input type="text" name="nin" value="{{nin}}" class="form-control">
                            </div>
                          </div>
                        </div>
                        <input type="hidden" name="search" class="form-control">

                        <div class="row justify-content-end">
                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary float-end">Fetch</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                {% if record %}
                <div class="col-md-8">
                  <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                      <h5 class="mb-0">Death Registration</h5>
                      <small class="text-muted float-end">Registration</small>
                    </div>

                    <div class="card-body">
                      <form method="POST">
                        <p><b>Name:</b> {{birth.get_fullname}}</p>
                        <p><b>Gender:</b> {{birth.gender}}</p>
                        <p class="text-center"><b>NB:</b> Filling the form below marks the user with NIN(<b>{{nin}}</b>) to be dead</p>
                        {% csrf_token %}
                        {{form|crispy}}
                        <input type="hidden" name="nin" value="{{nin}}" class="form-control">
                        <input type="hidden" name="register" class="form-control">


                        <div class="row justify-content-end">
                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary float-end">Submit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                {% endif %}

              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            {% include 'partials/auth_footer.html' %}
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    {% include 'partials/auth_script.html' %}

{% endblock body %}
