{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block head %}{% include 'partials/auth_head.html' %}{% endblock head %}
{% block body %}
    <!-- Content -->
    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          {% include 'partials/messages.html' %}
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="{% url 'basic:home' %}" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                    <img src="{% static 'img/logo.png' %}" width="80%" alt="">
                  </span>
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">Welcome back👋</h4>
              <p class="mb-4">Please sign-in to your account to use it features</p>

              <form id="formAuthentication" class="mb-3" method="POST">
							{% csrf_token %}
                <div class="mb-3">
                  <label for="email" class="form-label">Email/NIN</label>
                  <input type="text" class="form-control" id="email" name="username" placeholder="Enter your email or nin" autofocus />
                </div>
                <div class="mb-3 form-password-toggle">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">Password</label>
                  </div>
                  <div class="input-group input-group-merge">
                    <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password"/>
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>
                <div class="mb-3">
                  <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                </div>
              </form>
            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>

    <!-- / Content -->

{% block script %}{% include 'partials/auth_script.html' %}{% endblock script %}

{% endblock body %}