{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}View Certificate{% endblock title %}
{% block head %}{% include 'partials/auth_head.html' %}{% endblock head %}

{% block body %}
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        {% include 'partials/sidebar.html' %}
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
	        {% block nav %} {% include 'partials/auth_nav.html' %} {% endblock %}
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              {% include 'partials/messages.html' %}

              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'auth:dashboard' %}">Dashboard</a></li>

                {% if request.user.hospital or request.user.hospital_admin %}

                <li class="breadcrumb-item active"><a href="{% url 'reg:manage_birth_reg' %}">All Birth Registrations</a></li>
                {% endif %}

                <li class="breadcrumb-item active"><a>Certificate</a></li>
              </ol>

              <!-- Bootstrap Table with Header - Light -->
              <div class="row bg-white" id="content">
                <div class="col-10 mx-auto">
                  <div class="text-center">
                    <img src="{% static 'img/coat.jpg' %}" alt="" width="200">
                    <h5>FEDERAL REPUBLIC OF NIGERIA</h5>
                    <br>
                    <h5>CERTIFICATE OF BIRTH</h5>
                    <br>
                    <p class="text-justify">Issued under the Births and Deaths etc (Compulsory Registration) Decree 1992</p>
                    <p class="text-justify">Registration Centre <b>{{object.place_of_birth}}</b>  Certificate Number. No. <b>{{ object.certificate_num }}</b> </p>
                    <br>
                    <p>This is to certify that the birth, details of which are recorded herein, has been registered at the above-mentioned registration center</p>
                  </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-8">
                    <ol>
                      <li>&nbsp; &nbsp; <b>Full Name: </b> 	{{ object.father_name }} {{ object.child_name }}</li>
                      <br>
                      <li>&nbsp; &nbsp; <b>Sex: </b> 	{{ object.gender }}</li>
                      <br>
                      <li>&nbsp; &nbsp; <b>Date of Birth: </b> 	{{ object.date_time }}</li>
                      <br>
                      <li>&nbsp; &nbsp; <b>Weight at Birth: </b> 	{{ object.weight }}</li>
                      <br>
                      <li>&nbsp; &nbsp; <b>Full name of Father: </b> 	{{ object.father_name }}</li>
                      <br>
                      <li>&nbsp; &nbsp; <b>Full name of Mother: </b> 	{{ object.mother_name }}</li>
                    </ol>
                  </div>
                  <div class="col-1"></div>
                </div>
                <div class="text-center mx-auto">
                  <img src="{{ object.place_of_birth.signature.url }}" alt="" width="200">
                  <p><b>SIGNED</b></p>
                </div>
              </div>
              <!-- Bootstrap Table with Header - Light -->
              <br>
              <br>

              <div class="row">
                <div class="d-grid gap-2">
                  <button class="btn btn-primary btn-lg" id="print">Print</button>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            {% include 'partials/auth_footer.html' %}
            <!-- / Footer -->

          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

{% include 'partials/auth_script.html' %}

{% endblock body %}
